*after,
*before {
  box-sizing: border-box;
}
.footer {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-flow: row wrap;
  padding: 50px;
  color: #ffff;
  background: #091153;
}
.titulo h1 {
  font-size: 40px;
  padding: 10px;
  justify-content: center;
}
.footer > * {
  flex: 1 100%;
}
.l-footer {
  margin-right: 1.25em;
  margin-bottom: 2em;
}
h1 {
  font-weight: 300;
  font-size: 12px;
}
h2 {
  font-weight: 600;
  font-size: 16px;
}

.footer ul {
  list-style: none;
  padding-left: 0;
}
.footer li {
  line-height: 2em;
}
.footer a {
  text-decoration: none;
}
.r-footer {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-flow: row wrap;
}
.r-footer > * {
  flex: 1 50%;
  margin-right: 1.25em;
}
.box a {
  text-decoration: none;
  color: #999;
}
.h-box {
  column-count: 2;
  column-gap: 1.25em;
}
.b-footer {
  text-align: center;
  color: #999;
  padding-top: 50px;
}
.l-footer p {
  padding-right: 20%;
  color: #999;
}
.l-footer img {
  width: 40%;
  margin: 10px;
}
.box {
  font-size: 12px;
}
.features {
  font-size: 12px;
}
@media screen and (min-width: 600px) {
  .r-footer > * {
    flex: 1;
  }
  .features {
    flex-grow: 2;
  }
  .l-footer {
    flex: 1 0px;
  }
  .r-footer {
    flex: 2 0px;
  }
}
